.special-heading h4 {
  text-align: center;
  margin-top: 5vh;
  font-size: 50px;
  letter-spacing: 3px;
  word-spacing: 3px;
  margin-top: 5vh;
  color: #156663;
}
.headingTop {
  padding: 40px 0px;
}
.hrheading {
  background: lightgray;
}
.book-now {
  display: flex;
  justify-content: space-around;
}
.book-head {
  width: 30vw;
  margin-top: 10vh;
}
.book-head h3 {
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: white;
}
.book-head p {
  padding-top: 2vh;
  word-spacing: 1px;
  color: white;
}
.book-head button {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  background: transparent;
  border: 2px rgb(98, 216, 98) solid;
  margin-top: 2vh;
  color: rgb(98, 216, 98);
}
.book-image img {
  height: 45vh;
  width: 22vw;
  margin-top: 3vh;
  border-radius: 12px;
}
.Bg-color {
  background-color: #156663;
  margin-top: 2vh;
}
.line {
  background: white !important;
  height: 0.1px !important;
}
.book-head b {
  padding-top: 5vh important;
  word-spacing: 1px;
  color: white;
}
